doctype html
html(lang="en")
  head
    title Items
    link(rel="stylesheet", href="/styles.css")

  body
    // Back button to user account
    a(href="/account") ← Back
    
    h1 Available Items

    .items-grid
      each item in items
        .card
          h2= item.title
          p 
            strong Category:
            |  #{item.category_name}
          p 
            strong Owner:
            |  #{item.username}

          a.btn-view(href=`/items/${item.id}`) View Details