doctype html
html
  head
    title Login
    link(rel="stylesheet", href="/styles.css")
  body
    h2 Login

    // Back button
    a(href="/") ← Back to Home
    br
    br

    form(method="POST", action="/login")
      label Username:
      input(type="text", name="username", required)

      br

      label Password:
      input(type="password", name="password", required)

      br
      a(href="/forgot-password") Forgot Password?
      br 

      button(type="submit") Login

    br
    a(href="/forgot-password") Forgot Password?
    br
    a(href="/register") Create Account