doctype html
html
  head
    title Reset Password
    link(rel="stylesheet", href="/styles.css")

  body
    - var page = ''
    include partials/header.pug

    h2 Reset Your Password

    form(method="POST", action=`/reset-password/${token}`)
      .form-group
        label(for="password") New Password
        input(type="password", name="password", id="password", required)

      button(type="submit") Update Password

    include partials/footer.pug