doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Users
    link(rel="stylesheet", href="/styles.css")
  body
    h1 Users List
    each user in users
      .card
        h2= user.username
        p= user.location
        a(href=`/users/${user.id}`) View Profile